html{
    scroll-behavior: smooth;
    background-image:url(../imagen/janos.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
  background-size:100%;
}

.container_producto_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 20px;
  padding: 10px;
}

.producto_principal{
background: rgba(56, 56, 56, 0.5);
width: 200px;
padding: 25px;
margin: 4px 4px;
}
img{
    object-fit: cover;
}
.producto_principal img{
    width: 150px;
    padding: 10px;
    margin-left: 10px;
}

.bienvenida{
    text-align: center;
}

.titulo{

    
    background-image:linear-gradient(to left, rgb(4, 151, 4), rgb(248, 244, 7),  red,rgb(14, 14, 240));
    -webkit-text-fill-color:transparent; 
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    padding: 10px;

}
 .producto_principal p{
font-size: 15px;
padding: 5px;
color:blue;
}

    .producto_principal h1{
        font-size: 20px;
color:yellow;
        text-align: center;
        padding: 5px;
        }
  .producto_principal span{
    text-wrap: balance;
    color:white;
    font-size: 16px;
    padding: 5px;
  }
.producto_principal{
    box-shadow:  rgb(7, 71, 236)2px 2px 2px;
  border-radius:20px;
}
.bienvenida{
    font-size: 20px;
    color:yellow;
            text-align: center;
            padding: 5px;
}

.texto p{
    text-align: center;
    padding: 20px;
    font-size: 25px;
color:white;
}

 .container_producto_principal button{
    width: 184px;
    padding: 7px;
  margin-left: 10px;
  border-radius:20px;
  background:transparent;
  box-shadow:  rgb(7, 71, 236)2px 2px 2px 2px;

}
.container_producto_principal button:hover{
 
}


.texto img{
    width: 100%;
    height: 50vh;
  
}
.container_persona{
    padding: 10px;
    background:rgba(26, 25, 25,0.6);
    color:white;
}

.info_personas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -70px 30px;
    
}
.info_personas div{

    margin: 26px;
    padding: 10px;
}
.info_personas img{
    width: 90px;
    height: 70px;
    border-radius:4px;
    margin: 4px;
}
.info_personas span{
    font-size: 13px;
    align-items:center;
    margin: 10px;
}
