
.container_producto_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 10px;
}
.producto_principal{
background: rgba(56, 56, 56, 0.5);
width: auto;
padding: 6px;
margin: 4px;
}
img{
    object-fit: cover;
}
.producto_principal img{
    width: 110px;
    padding: 10px;
    border-radius: 3px;
}
.bienvenida{
    text-align: center;
}
.producto_principal h1{
    font-size: 14px;
    text-align: center;
}
.producto_principal p{
font-size: 10px;
text-align: center;
padding: 5px;
}
span{
    display: block;
    text-align: center;
    font-size: 11px;
    width: 140px;
}
.producto_principal:hover{

    background: rgba(0, 0, 0,0.5);
    box-shadow: 2px 2px 2px rgb(7, 71, 236);

}
.texto_motivacion{
background-image: url(../imagen/fondo.png);
background-size: cover;
height: 33vh;
background-repeat: no-repeat;

}
.texto{
    text-align: center;
    padding: 10px;
}
.container_producto_principal button{
    width: 130px;
}