*{
    margin: 0;
    padding: 0;
}
ul,.menu_ini_reg{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
}
nav{
    background:rgb(206, 206, 204);
    padding: 10px;
    position: fixed;
    top: 0;
}
.menu_ini_reg{
    margin: 4px;
}
li{
    font-size: 20px;
    list-style: none;
}