
body{
    object-fit: cover;
    background-image: url(../imagen/fondo_card.jpg);
    background-repeat: no-repeat;
    box-sizing: border-box;
 
}
.container_menu_banderas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.container_menu_banderas img{
    width:20px;
}