*{
    margin: 0;
    padding: 0;
    transition:1s;
}
html{
    object-fit: cover;
    background-image: url(../imagen/fondo_card.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    background-size: 100%  100%;
}
.container_menu_banderas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

} 
.titulo{
    background-image:linear-gradient(to left, rgb(242, 242, 15), rgb(253, 6, 6), rgb(9, 9, 240));
    -webkit-animation-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    padding: 10px;
 
}
img{
    width:170px;
    margin:0px  30px ;
    text-align: center;
}
h1{
    color: yellow;
    font-size: 20px;
    text-align: center;
}
.container_img p{
    width: 100%;  
}
.mostrar{
    display: none;
 
}
.container_img{
    padding: 10px;
    background: rgba(0, 0, 0,0.3);
    margin: 10px;
    border-radius: 10px;
    width: 20%;
    text-wrap: balance;
    
}
.container_img a{
    text-align:center;
    display: block;
    color:white;
}
/* 
*/
/* 
img:hover{
    transform: rotate(360deg);
    transition: 2s;
}




  */ 
.container_img button{
    width: 140px;
    padding: 6px;
    background:   rgb(5, 52, 173);
    margin: 0px 60px ;
    background:transparent;
    border-radius: 10px;
    color:white;
 
}

button:hover{
    box-shadow:   rgb(7, 71, 236)2px 2px 2px 2px,2px 2px 2px 2px, 2px 2px 2px 2px;
    border: solid 2px blue;
    
}