*{
    margin: 0;
    padding: 0;
}
body{
    object-fit: cover;
    background-image: url(../imagen/fondo_card.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    background-size: 100%;
 
}
.container_menu_banderas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.container_menu_banderas img{
    width:200px;
    margin:0px  6px ;
}
.ver_menu{
    text-align: center;
}
.ver_menu button{
    width: 130px;
    margin-left: 20px;
    padding: 6px;
}
button:hover{
  
    animation: btn 2s 2;
}

@keyframes btn{
    10%{background: green;}
}