body{
    background-image:url(/public/imagen/fondo_card.jpg);
    background-repeat:no-repeat;
    box-sizing:border-box;
    background-attachment: fixed;
    background-size:100%;
}
h1{
    text-align: center;
    color:yellow;
    font-size: 20px;
    padding: 10px;
}

.container_fondo,.btnbotones{
    display: flex;
    justify-content: space-around;
}
.container_fondo img{
    object-fit: cover;
    width: 98%;
    height: 40vh;
    padding: 10px;
}
.container_mensaje_reserva{
flex-direction: column;
}
.container_mensaje_reserva p{
    width: 80%;
    margin: 0px 20px;
    text-align: center;
    text-wrap: balance;
    font-size: 20px;
}
.info{
    color:white;
    font-size: 20px;
    text-align: center;
    display: block;
}
 /* codigo formulario */
 form{
    width: 300px;
    padding: 20px;
    margin: 10px;
}
 .container_reserva{
    background:rgba(14, 13, 13,0.5);
 padding: 10px;
 color:white;
 margin: 6px;
}
input{
    width:94%;
}
select{
    width:100%;
}
input,select{
    padding: 6px;
    margin: 10px;
}
.btnbotones{
    padding: 10px;
}
button{
    width: 120px;
    padding: 6px;
}
input:focus{
outline: none;
}