body{
    background-image:url(/public/imagen/fondo_card.jpg);
    background-repeat:no-repeat;
    box-sizing:border-box;
    background-attachment: fixed;
    background-size:100%;
}
h1{
    text-align: center;
    color:yellow;
}
.container_fondo{
    display: flex;
    justify-content: space-around;
}
.container_reserva{
    text-align: center;
}
