body{
    background-image:url(/public/imagen/fondo_card.jpg);
    background-repeat:no-repeat;
    box-sizing:border-box;
    background-attachment: fixed;
    background-size:100%;
}
h1{
    text-align: center;
    color:yellow;
    font-size: 20px;
    padding: 10px;
}
.container_reserva{
    background:rgba(14, 13, 13,0.5);
 padding: 10px;
 color:white;
}
.container_fondo,.btnbotones{
    display: flex;
    justify-content: space-around;
}
.container_fondo img{
    width: 50%;
    height: 90vh;
    padding: 10px;
}
.btnbotones{
    padding: 10px;
}
button{
    width: 120px;
    padding: 6px;
}
form{
   
    padding: 20px;
    margin: 10px;
}
input{
    width:94%;
}
select{
    width:100%;
}
input,select{
    padding: 6px;
    margin: 10px;
}
