.conataine_footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

/* @import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

.
p {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
span {
  font-size: 25px;
}
:is(.container_final) {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  color: blue;
  font-size: 30px;
}
:is(.container_final, h4, i) {
  padding: 10px;
}
.container_final {
  background: rgba(12, 12, 12, 0.2);
  color: white;
}
.fa-facebook {
  color: rgb(5, 5, 253);
}
.fa-twitter {
  color: rgb(8, 123, 245);
}
.fa-linkedin {
  color: rgb(71, 71, 155);
}
.fa-instagram {
  color: rgb(243, 17, 17);
}
a {
  cursor: pointer;
}
footer a {
  font-size: 20px;
  color: white;
}
footer {
  background: rgba(10, 10, 10, 0.6);
  color: white;
} */
