*{
  margin: 0;
  padding: 0;
}

t-items{
     display: none;
}
.menu-items{
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.7);
  position: absolute;
}
.card ,.card_carrito{
display: inline-block;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
margin: 10px;

}

.card,.card_carrito  {
  width: 14%;
  height: 44vh;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: rgb(8, 4, 247) 1px 1px 1px 3px ;
}

.card img,.card_carrito img{
  width: 95%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  padding: 10px;
}


.card p,.card_carrito p{
  color:white;
  font-size: 20px;

}


.cart-view,.menu-view{
  display: none;
}
@scope(.titulo_principal,.titulo_carrito,.carro){
 :scope{
  color:yellow;

 }
 .titulo_carrito h1{
  padding: 10px;
 }
}

.cart-total {
  text-align: right;
  margin: 20px;
}
.cart-view{
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
  box-shadow: black 4px 2px 4px 5px ;
}

.cart-total{
  font-size: 20px;
  color:blue;
}
button {
  width: 270px;
  padding: 10px;
  
  /* margin: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 20px ;
  background: rgba(247, 247, 248, 0.568) ;
  color: blue;
  font-size: 20px; */
}
/* button:hover {
  border: none;
  background: #0606f8fd;
  color: black;
  box-shadow: rgb(7, 71, 236) 2px 2px 2px, rgb(7, 71, 236) 2px 2px 2px,
    rgb(7, 71, 236) 2px 2px 2px, rgb(7, 71, 236) 2px 2px 2px;
} 
     .card button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3;
} */