
*{
  padding: 0%;
  margin: 0%;
  transition: all;
  scroll-behavior: smooth;
}
  

  
  .filter-buttons {
    margin: 20px;
    text-align: center;
  }
  
  .filter {
    margin: 5px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .filter:hover {
    background-color: #0056b3;
  }
  .cart-view{
    display: none;
  }
  /* .menu-items, .cart-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px;
  } */
  
  .card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .card button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #0056b3;
  }
  
  .cart-total {
    text-align: right;
    margin: 20px;
  }
  
  .cart-total button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cart-total button:hover {
    background-color: #0056b3;
  }
  